[submodule "build"]
	path = build
	url = https://github.com/crossplane/build
[submodule "reference/twilio-oai"]
	path = reference/twilio-oai
	url = https://github.com/twilio/twilio-oai.git
[submodule "reference/twilio-oai-generator"]
	path = reference/twilio-oai-generator
	url = https://github.com/twilio/twilio-oai-generator.git
